{% extends 'base.html' %}
{% load static %}

{% block main %}


<head>
	<!-- BEGIN: Vendor CSS-->
	
	<!-- END: Vendor CSS-->

	<!-- BEGIN: Theme CSS-->
	
	<!-- END: Theme CSS-->

	<!-- BEGIN: Page CSS-->
	<!-- END: Page CSS-->
</head>
  <!-- END: Head-->

  <!-- BEGIN: Body-->

	<div class="customizer d-none d-xl-block">
		<a class="customizer-toggle bg-info text-light" href="" title="Document">
			<i class="fas fa-book-reader"></i>
		</a>
		<div class="customizer-content p-2" style="overflow-y:scroll;">
			<h4 class="text-uppercase mb-0 mt-2">Help</h4>
			<hr>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help q</p>
			<p>This is the help information</p>
			<p>This is the help a</p>
			<p>This is the help s</p>
			<p>This is the help information</p>
			<p>This is the help information</p>
			<p>This is the help d</p>
			<p>This is the help information</p>
			<p>This is the help 1</p>
			<p>This is the help 2</p>
			<p>This is the help 3</p>
			<p>This is the help 4</p>
			<p>This is the help 5</p>
			<p>This is the help 6</p>
			<p>This is the help 7</p>

		</div>
	</div>


	<p>
		Starting with version 1.4.0, JBrowse has an optional "faceted" track selector designed for sites with hundreds or even thousands of tracks in a single JBrowse instance. This track selector allows users to interactively search for the tracks they are interested in based on the metadata for each track.
	</p>

<script>

	$('.customizer-toggle').on('click',function(){
	    $('.customizer').toggleClass('open');
	});
	$('.customizer-close').on('click',function(){
	    $('.customizer').removeClass('open');
	});

</script>

{% endblock main %}
